:root{
/* --nav-background:rgb(7, 136, 241); */
--nav-background:#101820ff;
--main-background: ;
--col1 : #f5f6fa ;
--col2 : #6c63ff;;
--col3 : #2c3e50 ;

}
*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    font-weight: 500;
}
body{
    background: var(--col1);

}
.main-nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--col3);
    align-items: center;
}
.main-nav>div{
    margin:0.5rem 2rem;
}
.main-nav a {
    text-decoration: none;
    color:white;
}
#main-page-name{
    font-size: 2rem;
    font-weight: bold;
}
#search{
    border:none;
    outline: none;
    padding:10px;
}
.edge-anchors{
    margin-left: 10px;
}
.search-container{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding:3px;
    border-radius: 1rem;
    width: 25em;



}
.search-container>input{
    background-color: rgba(255, 255, 255,0.5);
    width:90%;
    margin:0 auto;
    display : block;
    border-radius: 1rem;

}
#search-icon{
    display:block;
    font-size: 1.5rem;
    margin:0 auto;
    color:var(--col3)
}

main{
    position: relative;
    margin: 2rem 0 ;
    background-color : var(--col1);
    padding:10px;
}
main>.products-container{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(4,1fr); */
    /* gap:10px */
}
main .product-component{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* width:15%; */
    background-color: white;
    /* height:fit-content; */
    margin:10px 10px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transition:0.5s;
    height: 100%;
}
.product-component:hover {
    transform: translateY(-5px); 
}

main .product-img-container{
    /* height:30%; */
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
main>.products-container .product-img{
    width: 100%;
    height: 300px;
    /* height:100%; */

}

.product-component .product-text-container{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin:3 7px;
}
.product-component ul{
    margin:10px 5px;
}
.p-list{
    /* color:aliceblue; */
    color:var(--col3);
    font-weight: 700;
}
.buy-btn{
    padding: 10px;
    /* background-color: rgba(52, 81, 125, 1); */
    background-color: var(--col3);
    /* color:white; */
    color:var(--col1);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 0.5s;
}
.buy-btn:hover{
    transform:scale(1.1);
    background-color: #1a252f;
}
#quantity-input{
    width:25%;
    border-radius: 10px;
    padding:10px;
    outline: none;
    border:none;
    margin-right:5px;
}
#product-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#cart-icon{
    cursor: pointer;
}
.cart-body{
/* position: fixed; */
display: grid;
grid-template-columns: 3fr 1fr;
height: 100%;
width:100%;
z-index: 1000;
display: none;

}
.cart-container{

    background-color: #f5f6fa;
    height: 100%;

}
.order-summary{
    background-color:  rgba(185, 185, 185,0.9);
    height: 100%;
display: flex;
align-items: center;
justify-content: start;
flex-direction: column;
}
.cart-title{
    display: flex;
    justify-content: space-between;
}
h3{
    color: var(--col3);
    font-weight: 900;
    font-size: 1.6rem;
}
.cart-items{
    display: flex;
    flex-direction: column;
    list-style-type:none ;

}
.cart-item-component , .cart-title , .order-summary{
    display: flex;
    background-color:  rgb(185, 185, 185);
    margin:10px 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    padding:0.5rem;
    border-radius: 0.5rem;
    
}
.cart-item-component{
    justify-content: space-between;

}
.summary-aside{
    list-style-type: none;
}